# ==========================
# Java / Maven
# ==========================
**/target/
*.class

# ==========================
# IDE
# ==========================
.vscode/
.idea/
.project
.classpath
.settings/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Environment
# ==========================
.env

# ==========================
# Node (Future React Frontend)
# ==========================
**/node_modules/

# ==========================
# Build folders
# ==========================
dist/
build/